@model ClinicManagementSystem.Models.VMPrescription

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<script>
    var cart=[];
    $(document).ready(function () {
        $("#OpenModal").click(function () {
            $("#PrescriptionModal").show();
        });

        $("[data-bs-dismiss='modal']").click(function () {
            $("#PrescriptionModal").hide();
        });

        $("#PId").change(function () {
            $.ajax({
                "url": "/PrescriptionApi/Load?id=" + $("#PId").val() ,
                "method": "get",
                success: function (rep) {
                    $("#CId").empty();
                    if (rep.Code == 0) {
                        
                        var obj = rep.Message ;
                        console.log()
                        $("#CId").val(obj.Id);
                        loadaid(obj.Id)
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });



        });

        $("#Addmedicine").click(function () {
            if ($("#QTY").val()>0)
            {
                if ($("#MDose").prop("checked")) {

                    $("#MDose").val(true);
                }
                else {
                    $("#MDose").val(false);
                }
                if ($("#AfDose").prop("checked")) {

                    $("#AfDose").val(true);
                }
                else {
                    $("#AfDose").val(false);
                }
                if ($("#NDose").prop("checked")) {

                    $("#NDose").val(true);
                }
                else {
                    $("#NDose").val(false);
                }
                var obj = {

                    "Srno": cart.length + 1,
                    "MedicineId": $("#MedicineId").val(),
                    "Medicinename": $("#MedicineId option:selected").text(),
                    "QTY": $("#QTY").val(),
                    "MDose": $("#MDose").val(),
                    "AfDose": $("#AfDose").val(),
                    "NDose": $("#NDose").val(),

                }


                cart.push(obj);

                loadcart();
                clarecartbax();
                console.log(cart);
            }
           
        });


        $("#save").click(function () {
          
            if (cart.length==0) {

                alert("Shop Cart is Empty");
                return;
            }

            var obj = {

                "AId": $("#AId").val(),
                "Symtams": $("#Symtams").val(),
                "Disiese": $("#Disiese").val(),
                "Narration": $("#Narration").val(),
                "ShopCart": cart,
                 


            }
            $.ajax({
                "url": "/PrescriptionApi/Save",
                "method": "post",
                "contentType": "application/json",
                "data": JSON.stringify(obj),

                success: function (data) {

                    alert(data.Message);
                   


                    $("#DoctorModal").hide();

                },
                error: function (err) { console.log(err); }
            });


        });













    });

    function loadaid (id) {
        $.ajax({
            "url": "/PrescriptionApi/Loadaid?id=" + id,
            "method": "get",
            success: function (rep) {
                $("#AId").val(null);
                if (rep.Code == 0) {

                    var obj = rep.Message;
                    console.log()
                    $("#AId").val(obj.Id);

                }
            },
            error: function (err) {
                console.log(err);
            }
        });


    }

    function loadcart()
    {
        $("#CartItems").empty();
        $.each( cart ,function (index,item) {

            $("#CartItems").append("<tr><td><button type='button' class='btn btn-sm btn-outline-danger'><i class='fa-solid fa-trash'></i></button></td><td>" + item.Srno + "</td><td>" + item.Medicinename + "</td><td>" + item.QTY + "</td><td>" + item.MDose + "</td><td>" + item.AfDose + "</td><td>" + item.NDose +"</td></tr>")
        })

    }

    function clarecartbax(){

        $("#MDose").val("");
        $("#AfDose").val(false);
        $("#NDose").val(false);
        $("#QTY").val(null);
    }
    
</script>


<div class="modal" id="PrescriptionModal" tabindex="-1" style="background: #00000014;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" style="width:70vw">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Prescription Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <label class="fw-bold mb-2">Patient Detail's'</label>
                                    <hr />
                                    <div class="col-3">
                                        @Html.HiddenFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AId, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.AId, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.AId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                     
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CId, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.CId, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PId, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.PId,(IEnumerable<SelectListItem>)ViewBag.Patient, new { @class = "form-control" } )
                                                @Html.ValidationMessageFor(model => model.PId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Symtams, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-md-12">
                                                            @Html.EditorFor(model => model.Symtams, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Symtams, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Disiese, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        <div class="col-md-12">
                                                            @Html.EditorFor(model => model.Disiese, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Disiese, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Narration, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.TextAreaFor(model => model.Narration, new { @class = "form-control", @rows = "4" })
                                                    @Html.ValidationMessageFor(model => model.Narration, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <label class="fw-bold mb-2">Medicine Detail's'</label>
                                    <hr />

                                    <div class="row d-flex align-items-center">
                                        <div class="col-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.MedicineId, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.DropDownListFor(model => model.MedicineId, (IEnumerable<SelectListItem>)ViewBag.Medicine, new { @class = "form-control" } )
                                                    @Html.ValidationMessageFor(model => model.MedicineId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.QTY, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.QTY, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.QTY, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-3 d-flex flex-wrap justify-content-center ">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox d-flex align-items-center">
                                                        @Html.CheckBox("MDose",false,new {@value="true" })
                                                        @Html.LabelFor(model => model.MDose, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        @Html.ValidationMessageFor(model => model.MDose, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group mx-2">
                                                <div class="col-md-12">
                                                    <div class="checkbox d-flex align-items-center">
                                                        @Html.CheckBox("AfDose", false, new { @value = "true" })
                                                        @Html.LabelFor(model => model.AfDose, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        @Html.ValidationMessageFor(model => model.AfDose, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox d-flex align-items-center">
                                                        @Html.CheckBox("NDose", false, new { @value = "true" })
                                                        @Html.LabelFor(model => model.NDose, htmlAttributes: new { @class = "control-label col-md-2" })
                                                        @Html.ValidationMessageFor(model => model.NDose, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <button id="Addmedicine" type="button" class="btn btn-dark">Add Medicine</button>
                                        </div>

                                    </div>
                                    <div class="MedicineDiv border py-2 px-3 rounded-2 mt-4">
                                        <label class="form-label fw-bold">Medicine List</label>
                                        <div class="row m-0 bg-secondary">
                                            <div class="col-md-7 p-3">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>SrNo.</th>
                                                            <th>Medicine Name</th>
                                                            <th>QTY</th>
                                                            <th>MDoses</th>
                                                            <th>ADoses</th>
                                                            <th>NDoses</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="CartItems">
                                                       
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-10"></div>
                                    <div class="col-2 text-end">
                                        <div class="form-group mt-3">
                                            <div class="col-md-offset-2 col-md-12">
                                                <input type="button" id="save" value="Save" class="btn btn-success" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success">Save changes</button>
                </div>*@
        </div>
    </div>
</div>

<div class="PrescriptionPage px-4 py-3 border-top">
    <div class="row">
        <div class="col-7">
            <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control" placeholder="Search appointment by name and email....">
            </div>
        </div>
    </div>
    <hr />
    <div class="AllPrescriptionData overflow-auto mt-2 bg-secondary p-3" style="max-height:90vh;">
        <table class="table table-bordered">
            <thead id="PrescriptionList">
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Appointment Id</th>
                    <th>CreatedOn</th>
                    <th>Narration</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="Prescription">
                <tr>
                    <td>
                        <div class="btn-group-sm" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-sm btn-outline-warning" id="OpenModal"><i class="fa-solid fa-hand-pointer"></i> Select</button>
                            <button type="button" class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-print"></i> Print</button>
                            <button type="button" class="btn btn-sm btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </td>
                    <td>Id</td>
                    <td>Appointment Id</td>
                    <td>CreatedOn</td>
                    <td>Narration</td>
                    <td>Status</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>