@model ClinicManagementSystem.Models.VMPrescription

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<script>

    $(document).ready(function () {
        $("#OpenModal").click(function () {
            $("#PrescriptionModal").show();
        });

        $("[data-bs-dismiss='modal']").click(function () {
            $("#PrescriptionModal").hide();
        });
    });

</script>


<div class="modal" id="PrescriptionModal" tabindex="-1" style="background: #00000014;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width:70vw">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Prescription Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-3">
                                        @Html.HiddenFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AId, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.AId, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.AId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Stastus, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.Stastus, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Stastus, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Narration, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.Narration, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Narration, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Symtams, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.Symtams, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Symtams, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Disiese, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.Disiese, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Disiese, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />
                                    <div class="col-5">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MedicineId, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.MedicineId, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MedicineId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.QTY, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.QTY, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.QTY, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-5 d-flex align-items-center flex-wrap">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="checkbox d-flex align-items-center">
                                                    @Html.EditorFor(model => model.MDose, new { htmlAttributes = new { @class = "mb-0 me-2" } })
                                                    @Html.LabelFor(model => model.MDose, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    @Html.ValidationMessageFor(model => model.MDose, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mx-3">
                                            <div class="col-md-12">
                                                <div class="checkbox d-flex align-items-center">
                                                    @Html.EditorFor(model => model.AfDose, new { htmlAttributes = new { @class = "mb-0 me-2" } })
                                                    @Html.LabelFor(model => model.AfDose, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    @Html.ValidationMessageFor(model => model.AfDose, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="checkbox d-flex align-items-center">
                                                    @Html.EditorFor(model => model.NDose, new { htmlAttributes = new { @class = "mb-0 me-2" } })
                                                    @Html.LabelFor(model => model.NDose, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    @Html.ValidationMessageFor(model => model.NDose, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 text-end">
                                        <button class="btn btn-dark">Add Medicine</button>
                                    </div>

                                    <div class="MedicineDiv border py-2 px-3 rounded-2 mt-4">
                                        <label class="form-label fw-bold">Medicine List</label>
                                        <div class="row m-0 bg-secondary">
                                            <div class="col-md-7 p-3">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>SrNo.</th>
                                                            <th>Medicine Name</th>
                                                            <th>QTY</th>
                                                            <th>Doses</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="CartItems">
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Crocine</td>
                                                            <td>1</td>
                                                            <td>M-A-N</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-10"></div>
                                    <div class="col-2 text-end">
                                        <div class="form-group mt-3">
                                            <div class="col-md-offset-2 col-md-12">
                                                <input type="button" id="save" value="Save" class="btn btn-success" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success">Save changes</button>
                </div>*@
        </div>
    </div>
</div>

<div class="PrescriptionPage px-4 py-3 border-top">
    <div class="row">
        <div class="col-7">
            <div class="input-group">
                <span class="input-group-text"><i class='bx bx-search fs-5'></i></span>
                <input type="text" class="form-control" placeholder="Search appointment by name and email....">
            </div>
        </div>
    </div>
    <hr />
    <div class="AllPrescriptionData overflow-auto mt-2 bg-secondary p-3" style="max-height:90vh;">
        <table class="table table-bordered">
            <thead id="PrescriptionList">
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Appointment Id</th>
                    <th>CreatedOn</th>
                    <th>Narration</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="Prescription">
                <tr>
                        <td>
                            <div class="btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-sm btn-outline-warning" id="OpenModal"><i class='bx bxs-edit m-0'></i>Select</button>
                                <button type="button" class="btn btn-sm btn-outline-primary"><i class='bx bxs-printer'></i></i> Print</button>
                                <button type="button" class="btn btn-sm btn-outline-danger"><i class='bx bx-trash'></i></button>
                            </div>
                        </td>
                        <td>Id</td>
                        <td>Appointment Id</td>
                        <td>CreatedOn</td>
                        <td>Narration</td>
                        <td>Status</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>