@model ClinicManagementSystem.Models.VMPrescription

@{
    ViewBag.Title = "PrintData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PrintData</h2>

<div>
    <h4>VMPrescription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Narration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Narration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Symtams)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symtams)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disiese)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disiese)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicineId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicineId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MDose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MDose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfDose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfDose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NDose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NDose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stastus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stastus)
        </dd>

    </dl>
</div>
